<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <!-- <h1>Hola, mi nombre es</h1> -->
                    <h1>Hello! My name is</h1>
                </div>
                <div class='banner-title'>
                    <h2 class="text-capitalize">Mayur Kukreja</h2>
                    <h3 class="text-capitalize">Software Developer</h3>
                </div>
                <div class='banner-description'>
                    <p  class="mt-4">

                        🧑🏻‍💻 I am a passionate software developer <br>
                        
                        🎨  Love to design and develop both mobile and web apps <br>
                        
                        💬  You can ask me about anything <br>
                        
                        🎮 I love trekking, gaming and coding <br>
                        
                        🔭 I’m currently working on myself <br>
                        
                        💡 Exploring three.js, angular and object modeling</p> 


                </div>
            </div>
            <div class="div-btn-banner">
                <a href="https://linkedin.com/in/mayurrkukreja" target="_black" class="main-btn text-capitalize">
                    get in touch
                </a>
            </div>
        </div>
    </div>
</section>
